/*FOOTER*/

footer {
    background-color: nth($colores, 1);
    margin-top: 1.5rem;
    padding: 1.5rem;

    div a {
        text-decoration: none;
        padding: 0.5rem;
    }
}
.footer-text{
    color: nth($colores, 7);
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0;
}
.social-media-div{
    padding: 0.5rem;
}

.fab{
    color: map-get($icons, redes);
    font-size: map-get($icons, font-size);
    &:hover{
        color: map-get($icons, redes-hover);
    }
}